* {
    margin:0px;
    padding:0px;
    border:0px;
}
ul, ol{
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
	
}
body {
    
}
.site-body{
		
}
.site-branding {
    background: -moz-linear-gradient(center top , rgb(169, 3, 41) 0%, rgb(143, 2, 34) 44%, rgb(109, 0, 25) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgb(169, 3, 41);
}
h1 {
    background: url("images/logo.png") no-repeat scroll 0 0 transparent;
    color: violet;
    height: 70px;
    margin: 0px auto;
    text-shadow: 1px 1px 11px black;
    width: 423px;
}
.site-presentation{
	background:url(../img/bak-1.jpg) repeat-x;
}

.site-nav-pannel{
	clear: both;
	position: relative;
}

.site-nav-pannel ul.sofycomps-navigation-menu {
    height: 40px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    float: left;
}
 ul.sofycomps-navigation-menu li {
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    color: rgb(255, 248, 220);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    min-width: 100px;
}
 ul.sofycomps-navigation-menu li:hover {
    background-color: rgba(143, 2, 34,.5);
    border-bottom: 5px solid rgb(222, 184, 135);
    border-radius: 5px 5px 0px 0px;
}



.sofycomps-search {
    background-color: rgba(143, 2, 34, 0.5);
    border-radius: 5px 5px 0 0;
    color: rgb(255, 255, 255);
    float: right;
    padding: 6px 10px;
}
.sofycomps-search ul{}

.slideshowContainer {
    width: 632px;
    margin: 0px auto 0 auto;
    position:relative;
}
.slideshow {
    height: 332px;
}
.slideshow img {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #eee;
    position: absolute;
}
#nav {
    list-style-type:none;
    z-index:150;
}
#nav li a {
    display:block;
    width:58px;
    height:102px;
    text-indent:-9999px;
    outline:none;
    background-color: green;
}
#prev a {
    background:url(images/left.png);
    width:58px;
    height:102px;
    position:absolute;
    top:220px;
    left:-70px;
}
#next a {
    background:url(images/right.png);
    width:58px;
    height:102px;
    position:absolute;
    top:220px;
    right:-70px;
}
#next a:hover {
    background:url(images/right_over.png);
    background-color: yellow;
}
#prev a:hover {
    background:url(images/left_over.png);
    background-color: yellow;
}

.active{display: block !important;}

.nxt{
 bottom: 0px;
 right: 0px;	
}
.prv{
	bottom: 0px;
	left: 0px;
	width: 200px;
	z-index; 200px;
	height: 183px;	
	
}
.active{
	bottom: 0;
	margin: 0px 72px;
	width: 450px;
	z-index: 300; 	
}


.site-content{
    clear: both;
    position: relative;	
	
}

.site-nav-pannel,.site-content-body {
    margin: 0px auto;
    max-width: 950px;
}

.site-content-body{
    margin: 20px auto;
    position: relative;	
}

.site-content-body p {
    color: rgb(60, 60, 60);
    font-family: inherit;
    font-size: 12px;
    margin: 5px 0;
}

.site-content-body h2{
	border-bottom: 1px solid rgb(212, 212, 212);
}

#sofycomps-home h3{
    border-bottom: 1px solid rgba(250, 70, 110, 0.5);
    color: rgb(220, 20, 60);
    font-family: sans-serif;
    font-size: 19px;
    line-height: 2em;
}

#sofycomps-home ul li{
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
    max-height: 200px;
    max-width: 435px;
    overflow: hidden;
    padding-bottom: 15px;
}

#sofycomps-home ul li a {
    color: rgb(0, 0, 255);
    float: right;
    font-size: 12px;
    text-decoration: none;
}


#sofycomps-portfolio .site-content-body {
    padding-bottom: 20px;
    padding-top: 35px;
}

/* For Reaserch and Devlopment page ============================ */

.content-element-list {
    margin-bottom: 20px;
    margin-top: 20px;
}

.content-element-list > li {
    border-bottom: 1px solid rgba(210, 210, 210, 0.7);
    padding: 15px 5px;
    vertical-align: middle;
}
.content-element-list li img {
    float: left;
}

.content-element-list > li h3 {
    color: rgb(220, 20, 60);
    font-size: 1em;
    font-weight: normal;
}

.content-element-list > li:nth-child(2n) img {
    float: right;
}


.content-element-list > li:nth-child(2n) h3, .content-element-list > li:nth-child(2n) p {
    margin-left: 0;
    margin-right: 220px;
}
.content-element-list > li h3, .content-element-list > li p {
    margin-left: 220px;
    text-align: justify;
}


/* For Careers page ============================ */

.content-element-parent form {
    margin: 10px 0px;
    position: relative;
    width: 500px;
}

.content-form-row {
    display: inline-block;
    font-size: 13px;
    padding: 5px 0;
    width: 100%;
}
.content-form-row lable {
    float: left;
    width: 130px;
}

.content-element-parent input, .content-element-parent textarea {
    border: 1px solid rgb(180, 180, 180);
    padding: 5px;
    width: 60%;
    
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    
}

.content-form-row.form-content-submit-row {
    text-align: center;
}

/* For page footer  ============================ */

.footer-parent-body {
    font-size: 13px;
    margin: 20px auto;
    max-width: 950px;
    position: relative;
    text-align: center;
}

.footer-menu-list {
    position: relative;
    width: 100%;
}

.footer-menu-list > li {
    border-right: 1px solid rgba(245, 245, 245, 0.4);
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 20px;
    min-width: 100px;
    padding: 0 5px;
    text-align: center;
}

.footer-parent-body > p {
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    text-align: center;
    width: 100%;
}


